.change-css{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.change-css::after{
    content: "左侧30%，右侧30%";
    display: block;
}
.container{
    height: 960px;
    margin: 0 auto;
    border: 5px dashed #f55;
}
.left-box, .right-box{
    height: 100%;
}
.btn{
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    color: #eee;
    background-color: #444;
}

a:hover{
    cursor: pointer;
}
