.container{
    position: relative;
}
.left-box{
    width: 200px;
    background-color: #D47F94;
}
.right-box{
    position: absolute;
    width: calc(100% - 200px);
    top: 0;
    right: 0;
    background-color: #E9BABA;
}